.bmw {
    float:left;
    width: 30.00%;
    
   
  }
.porsche{
    float:left;
    width: 30.00%;
    
   
}
.audi{
    float:left;
    width: 30.00%;
    
    

}
.cadillac
{
    float:left;
    width: 30.00%;
}
   .toyota
{
    float:left;
    width: 30.00%;
}
.ford{
float:left;
    width: 30.00%;

}     
.tata{
    float:left;
    width: 30.00%;

} 
.f{
    float:left;
    width: 30.00%;

} 
.h{
    float:left;
    width: 30.00%;

} 
.fe{
    float:left;
    width: 30.00%;

} 
.logo-size{
    height: 100px;
    width: 100px;
}


