.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color:red;
  width: 22%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  background: url('https://t3.ftcdn.net/jpg/04/85/94/02/360_F_485940219_vemGDyRZMidx9oACruSPO2dAPmO65sEN.jpg') no-repeat center center/cover;
}

